/* Genel */

body{
    background:#f4f7fb;
    font-family:Arial,Helvetica,sans-serif;
}

/* Sidebar */

.bg-dark{
    background:#16324f !important;
}

.list-group-item{
    border:none;
    margin-bottom:8px;
    border-radius:10px;
    transition:.3s;
}

.list-group-item:hover{
    transform:translateX(5px);
}

.list-group-item.active{
    background:#0d6efd;
    color:#fff;
}

/* Kartlar */

.card{
    border:none;
    border-radius:18px;
    overflow:hidden;
    transition:.25s;
}

.card:hover{
    transform:translateY(-4px);
    box-shadow:0 12px 25px rgba(0,0,0,.12);
}

.card img{
    height:220px;
    object-fit:cover;
}

/* Dashboard */

.card h2{
    font-weight:bold;
    color:#0d6efd;
}

/* Butonlar */

.btn{
    border-radius:12px;
}

.btn-success{
    background:#00a86b;
    border:none;
}

.btn-success:hover{
    background:#008b5a;
}

.btn-warning{
    color:white;
}

.btn-danger{
    border:none;
}

/* Arama */

#searchProduct{
    border-radius:12px;
    padding:12px;
}

/* Modal */

.modal-content{
    border-radius:20px;
    border:none;
}

.modal-header{
    background:#0d6efd;
    color:white;
}

.modal-footer{
    border-top:none;
}

/* Rozetler */

.badge{
    font-size:14px;
    padding:8px 12px;
}

/* Responsive */

@media(max-width:992px){

    .bg-dark{
        min-height:auto !important;
    }

    h2{
        font-size:24px;
    }

    .card{
        margin-bottom:15px;
    }

}
